@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-container{
    position: sticky;
    top: 0;
}
.nav-wrapper {
    background-color: orange;
    display: flex;
    justify-content: space-around;
}
.nav-left-side{
    padding-right: 250px;
}
#logo{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.link-wrapper{
    display: flex;
}
.link-wrapper > li{
    margin-left: 20px;
}
.link-wrapper > li > a{
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 5;
}
.cover-img > div {
    height: calc(100vh - 102px);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./Pictures/hero.jpg);
      background-size: cover;
      background-position: center;
}
.slogan-wrapper{
    min-width: 810px;
}
.slogan{
    font-size: 45px;
    color: white;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.slogan-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 500px;
    padding-bottom: 200px;
    flex-direction: column;
}
.div-button{
    display: inline-block;
    color: white;
    border: 1px solid orange;
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
    min-width: 250px;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    min-height: 50px;
    font-size: 22px;
    font-weight: 300;
}
.button-wrapper{
    display: flex;
    align-items: flex-start;
    min-width: 810px;
}
#main-btn{
    background-color:orange;
    color: white;
    min-width: 200px;
}
.page-container{
    padding: 50px;
    /* height: 50vh; */
}
.word-wrapper{
    text-align: center;
}
.word-wrapper > h1{
    margin-top: 20px ;
    font-size: 35px;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(90, 90, 90);
}
.yellow-line{
    width: 120px;
    margin: 0 auto;
    border-color: orange;
    margin-top: 40px;
    margin-bottom: 40px;
}
.word-wrapper > p{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    /* letter-spacing: 1px; */
    color: rgb(90, 90, 90);
}
.option-row{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    margin: 10px;
    /* text-align: center; */
    /* padding: 30px; */
}
.option{
    width: 290px;
    /* letter-spacing: 1px; */
    color: rgb(90, 90, 90);
}
.option > img{
    width: 60px;
    filter: invert(73%) sepia(24%) saturate(7000%) hue-rotate(0deg) brightness(103%) contrast(104%);
    padding-bottom: 15px;
}
.option > h1{
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 9px;
}
.option > p{
    font-size: 18px;
    line-height: 1.6;
    word-spacing: 1px;
    font-weight: 400;
}

.sample-imgs{
    display: flex;
    /* margin-top: 250px; */
    background-color: black;
    flex-wrap: wrap;
}
.sample-imgs > img{
    width: 25%;
    height: 70%;
    opacity: 0.7;
}
.app-mobile{
    padding: 50px;
}
.app-mobile > h2{
    margin-top: 20px ;
    font-size: 35px;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(90, 90, 90);
}
.step-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}
.steps{
    padding: 20px;
    display: flex;
}
.app-phone{
    width: 225px;
}
.step-text{
    font-size: 18px;
    line-height: 1.6;
    word-spacing: 1px;
    font-weight: 400;   
    color: rgb(90, 90, 90);
}
.step-number{
    display: inline-block;
    text-align: center;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border: 2px solid darkorange;
    line-height: 1.5;
    color: darkorange;
    font-weight: 300;
    border-radius: 100px;
}
.step-btn{
    padding: 20px;
}
.step-btn > img{
    width: 200px;
    height: 70px;
}
/* sth bruh */

.cities > h1{
    margin-top: 20px ;
    font-size: 35px;
    font-weight: 300;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(90, 90, 90);
}
.cities-wrapper {
    /* width: 1600px; */
    /* margin: 100px; */
    display: flex;
    justify-content: space-evenly;
  }
  /* .current-cities {
    width: 400px;
  } */
  
  .current-cities > img {
    width: 290px;
    /* height: 220px; */
  }
  .current-cities > p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .city-logo {
    font-size: 18px !important;
    color: darkorange !important;
    padding: 5px;
  }
  .city-text {
    font-size: 18px;
    font-weight: 300;
  }
  .text-link {
    color: darkorange;
    text-decoration: underline;
  }
  .bottom-line {
    margin-top: 250px;
  }